<% layout('layout') -%>
<h3>Database Config</h3>
<form method="post">
  <div class="row mb-2">
    <div class="col"><input name="host" class="form-control" value="<%= cfg.host %>"></div>
    <div class="col"><input name="port" class="form-control" value="<%= cfg.port %>"></div>
    <div class="col"><input name="user" class="form-control" value="<%= cfg.user %>"></div>
    <div class="col"><input type="password" name="password" class="form-control" value="<%= cfg.password %>"></div>
    <div class="col"><input name="database" class="form-control" value="<%= cfg.database %>"></div>
  </div>
  <button class="btn btn-success">Save & Test</button>
</form>

<% if(message){ %>
<div class="alert alert-info mt-2"><%= message %></div>
<% } %>
